.container{
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: radial-gradient(circle at center,#FFC7D4, #FFE4D6, #FCEEE5);
}
.input-field{
  width: 100%;
  height: 20rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #cacaca;
}

.input-field input{
  width: 30rem;
  height: 5rem;
  background: none;
  border: 3px solid #bababa;
  outline: none;
  padding: 1rem;
  color: crimson;
}

.input-field button{
  width: 10rem;
  height: 5rem;
  display: grid;
  place-items: center;
  background: rgba(220, 20, 60, 0.616);
  border: none;
  outline: none;
  cursor: pointer;
  color: white;
  text-shadow: 1px 1px 1px black;
}

.input-list{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}